body {
    margin: 0;
}

img {
display: block;
max-width: 100%;
}
.container{
    font-size: 20px;
    font-weight: bold;
    color: black;
    max-width: 1360px;
    margin: 0 auto 0 auto;
    padding: 0 15px;
    z-index: 2;
    position: relative;
    background-color:rgba(252, 245, 245, 0.5)

}
.box-flex {
    display: flex;
    flex-wrap: wrap;
}
.backg {
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-size: cover;
    background-image: url(./photos/2.jpg);
}

header {
    width: 100%;
}

.box-flex-item{
    display: flex;
    justify-content: center;
    align-items:center;

}
.logo{
    width: 15%;
    align-items:right;
}
.menu {
    width: 65%;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;

}
.tel {
    width: 20%;
}
.center-item{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 3;
    margin: 10px;
    padding: 0 15px;
} 
aside{
    display: flex;
    flex: 1;
    margin:10px;
    padding: 0 15px
}
.box-gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 600px;
    margin: 0 auto 0 auto ;

}
.item-gallery{
    align-content:center;
    margin: 10px;
    width: 300px;
    height: 300px;
}
.item-gallery img {
    object-fit: cover;
    height: 100%;
    width: 100%;}

footer{
    height: 80px;
    padding: 15px 0
}
.footer-1{
    display: flex;
    width: 20%;
}
.footer-2{
    display: flex;
    width: 60%;
    justify-content: center;
 
}
.footer-3{
    display: flex;
    width: 20%;
    justify-content: right;

}
.af a{
    text-align: center;
    margin: 0 5px;
}
a{
    color:black;
    font-size: 20px;
    font-weight: bold;
}
.floating-button{
    position: fixed;
    width: 50px;
    height: auto;
    right: 0;
    bottom: 50px;
    z-index: 3;
}
.bakery-button a{
    display: block;
    background-color:darkgray;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    text-align: center;
}
.bakery-button{
    padding-top: 20px;
}